.Features{
  margin-top : 60px;
}
.Features h1{
    margin-left : 40%;
    text-align: center;
    font-size: 30px;
    color :#0d5b19;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    margin-top: 30px;
    width: 100%;
    height: 550px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .features div {
    width: 60%;
    margin-top: 10px;
    margin-left: 17.5%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid black;
  }
  .features p {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(132, 132, 132, 0.2);
    padding: 5px;
    margin-top: 5%;
  }

  .features div:nth-child(1) {

    background-image: url("../Assets/feature-img-1-dod.png");
    margin-bottom: 10%;
  }
  .features div:nth-child(2) {
    background-image: url("../Assets/feature-img-2-dod.png");
    margin-bottom: 10%;
  }
  .features div:nth-child(3) {
    background-image: url("../Assets/feature-img-3-dod.webp");
    margin-bottom: 10%;
  }
  .features div:nth-child(4) {

    background-image: url("../Assets/feature-img-4-dod.png");
  }
  .features div:nth-child(5) {
    background-image: url("../Assets/feature-img-5-dod.webp");
  }

  .features div:nth-child(6) {
    background-image: url("../Assets/feature-img-6-dod.webp");
  }