
.footer {
    background-color:#00ABB3;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    width : 100%;  
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-column {
    width: 30%;
    margin: 10px;
}

.footer-column h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li {
    margin: 10px ;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column p {
    margin-top: 10px;
}

.footer-column .social-icons {
    margin-top: 10px;
}

.footer-column .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}