.hero {
   margin-top : 100px;
    padding-top: 40px;
    background: linear-gradient(to right, #adedf0 50%, #a5f1b0 50%);
  }
  .hero .heading {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
  }
  .hero h1 {
    margin-top: 5px;
    font-size : 45px;
  }

  .hero h1:nth-of-type(2n) {
    color: #26a038;
  }
  .hero h1:nth-of-type(2n-1) {
    color: #0d5b19;
  }
  .hero p {
    font-size: 20px;
    color: #0d5b19;
  }
  .hero .one {
    margin-top: 15px;
  }
  .two {
    margin-top: 5px;
  }

  .hero button {
    margin: 25px;
    padding: 12px;
    cursor: pointer;
    color : white;
    border-radius: 5px;
    background-color: #1A67E3;
  }

  .hero img {
    float: right;
    height : 400px;
    width: 380px;
    transform: translate(10%, -90%);
    margin-right : 10%;
  }